<div class="row" *ngIf="customer">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                {{customer.name}} - Customer Details
            </div>
            <div class="card-body">
                <div>
                    <strong>WebSite: </strong>
                    <p>{{customer.websiteURL}}</p>
                </div>
                <!-- email: string;
    phone: string;
    postalAddress: Address;
    invoicingAddress: Address;
street: string;
    number: string;
    postCode: string;
    city: string;
    country: string; -->
                <div>
                    <strong>Email: </strong>
                    <p>{{customer.email}}</p>
                </div>
                <div>
                    <strong>Postal Address: </strong>
                    <p>Street: {{customer.postalAddress.street}}, Number: {{customer.postalAddress.number}}, Post Code: {{customer.postalAddress.postCode}},
                        City: {{customer.postalAddress.city}}, Country: {{customer.postalAddress.country}}</p>
                </div>
                <div *ngIf="customer.invoicingAddress !== null">
                    <strong>Invoicing Address: </strong>
                    <p>Street: {{customer.invoicingAddress.street}}, Number: {{customer.invoicingAddress.number}}, Post Code: {{customer.invoicingAddress.postCode}},
                        City: {{customer.invoicingAddress.city}}, Country: {{customer.invoicingAddress.country}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" routerLink="/">Back to Customers List</button>
            </div>
        </div>
    </div>
</div>