.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Six equal-width columns */
    gap: 1rem; /* Spacing between columns */
  }
.add-customer {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}